@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

button{
    padding: 10px 25px;
    margin: 10px;
    border-radius: 25px;
    color: lightseagreen;
    border: 2px solid lightseagreen;
    background-color: #fff;
    font-size: 17px;
    transition: 0.1s;
    cursor: pointer;
}

button:hover{
    color: lightskyblue;
    border: 2px solid lightskyblue;
}

button:active{
    color: lightblue;
    border: 2px solid lightblue;
}


.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.board{
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.tile{
    width: 33.33%;
    height: 33.33%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tile:not(:nth-last-child(-n+3)){
    border-bottom: 2px solid black;
}

.tile:not(:nth-child(3n)){
    border-right: 2px solid black;
}

.X{
    color: lightslategray;
    cursor: not-allowed;
}

.O{
    color: lightcoral;
    cursor: not-allowed;
}

.winner{
    background-color: lightgreen;
}

.hoverX:hover{
    content: "X";
    opacity: 30%;
}

.hoverO:hover{
    content: "O";
    opacity: 30%;
}

.gameOver{
    cursor: not-allowed;
}